# --- Core Frameworks ---
fastapi==0.110.0
uvicorn[standard]==0.27.1
streamlit==1.32.0
python-dotenv==1.0.1

# --- LangChain & OpenAI Ecosystem ---
langchain==0.1.13
langchain-core==0.1.53
langchain-openai==0.1.7
langchain-chroma==0.1.0        

# --- Database & Document Processing ---
chromadb==0.4.24               
pypdf==4.1.0                  

# Basic installation for markdown and text
unstructured
markdown

# Eval Packages
ragas>=0.1.7         
datasets             
langchain-community
rank_bm25

passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
